test/competition/hidden_design_password.txt
test/competition/test12.input.def
test/competition/test12.input.lef
test/competition/test13.input.def
test/competition/test13.input.lef
test/competition/test10.input.def
test/competition/test10.input.lef
test/competition/test11.input.def
test/competition/test11.input.lef
test/competition/test5.input.def
test/competition/test5.input.lef
test/competition/test6.input.def
test/competition/test6.input.lef
test/competition/test7.input.def
test/competition/test7.input.lef
test/competition/test8.input.def
test/competition/test8.input.lef
test/competition/test9.input.def
test/competition/test9.input.lef
build
